.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: contain;
  background-position: center;
  padding: 100px 0 100px;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 325px 100px;
  font-family: "noto serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
